---
---
@charset "utf-8";

$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$text-color: #444;
$background-color: #fff;
$brand-color: #cc4d39;
$footer-text-color: #959595;

@import "header";
@import "nav";

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-weight: 300;
    height: 100%;
}

.container-fluid {
    padding: 0;
}

footer {
    padding-bottom: 3em;
    margin: auto;
    font-size: 12px;
    font-family: Open Sans;
    color: $footer-text-color;
    text-align: center;
}

footer > a {
    text-decoration: none;
}