<nav>
<ul class="nav nav-pills nav-stacked">
	{% assign groupedPages = site.pages | group_by:"project" | sort: "name" %}
	{% for group in groupedPages %}
		{% unless group.name == "" %}
			<li><p class="nav-group-title">{{ group.name }}</p></li>
		{% endunless %}

		{% for sitePage in group.items %}
			{% if sitePage.title %}
				<li role="presentation" {% if sitePage.url == page.url %}class="active"{% endif %}><a class="page-link" href="{{ sitePage.url | prepend: site.baseurl }}">{{ sitePage.title }}</a></li>
			{% endif %}
		{% endfor %}
	{% endfor %}
</ul>
</nav>
