<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {% include header.html %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-s-12">
        {% include nav-pages.html %}
      </div>
      <div class="col-md-9 col-s-12">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include script.html %}
</body>
</html>
